<div class="container-fluid">
    <h3>Search:</h3>
    <input id="search" class="form-control" (keyup)="search()" [(ngModel)]="searchedText"
        placeholder="Search media files" />
    <div *ngIf="searchResult.length" style="background-color: darkgrey;" class="rounded">
        <div class="p-2 m-2">
            <ul *ngFor="let i of searchResult" class="list-group p-1">
                <a class="list-group-item list-group-item-action" style="word-break: break-all"
                    (click)="play(medias[i])">
                    {{medias[i]}}
                </a>
            </ul>
        </div>
    </div>
    <h3 class="pt-2">Media Files <span *ngIf="amount"> - {{amount}} In Total</span></h3>
    <div *ngFor=" let m of medias" class="list-group">
        <li class="list-group-item list-group-item-action" style="word-break: break-all" (click)="play(m)">
            <div>{{m}}</div>
        </li>
    </div>
</div>